@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Koulen&family=Manrope:wght@400;500;600;700&family=Mulish:ital,wght@1,500;1,600;1,900&family=Poppins:wght@100;300;400;600;800&family=Roboto:ital,wght@0,300;1,300;1,700&display=swap');

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

.container{
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
    
}

/* Header */

.header__section{
    border-bottom: 1px solid #999;
    padding-bottom: 15px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.header__logo{
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.header__logo--link{
    text-decoration: none;
}

.header__right--link{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: #000000;
}

.header__span{
    color: blue;
    font-weight: bold;
}

.header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__item{
    margin-right: 50px;
}

.header__item:last-child{
    margin-right: 0;
}

.header__link{
    text-decoration: none;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: #000000;
    font-weight: bolder;
    display: block;
}

.header__right{
    display: flex;
    align-items: center;
}

.header__right--link{
    margin-right: 30px;
}

.header__link:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    color: blue;
}

.header__btn{
    border-radius: 10px;
    background: transparent;
    display: flex;
    align-items: center;
    border: none;
}

.header__btn--link{
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    /* border: 2px solid #E7E7E7; */
    border-radius: 10px;
    font-weight: 600;
    display: block;
    color: #000000;
}

.header__btn--link:hover{
    color: #000000;
}

/* Hero */

.hero{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__head {
    width: 600px;
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 75px;
    color: #000000;
}

.hero__text{
    width: 575px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
    opacity: 0.7;
    margin-bottom: 30px;
}

.hero__btn{
    padding: 19px 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background-color: #0031DE;
    border-radius: 10px;
    border: none;

}

.hero__button{
    margin-top: 100px;
}

.hero__button--img{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main */

.main{
    margin-top: 100px;
}

.main__iframe{
    width: 1170px;
    height: 560px;
    margin: 0 auto;
    display: block;
    margin-bottom: 100px;
    border-radius: 10px;
}

.main__list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main__item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.main__item--img{
    border-radius: 5px;
}

.main__item--right{
    margin-left: 200px;
}

.main__item--right2{
    margin-right: 200px;
}

.main__item--head{
    width: 632px;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 71px;
    color: #000000;
}

.main__item--text{
    width: 632px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
}

.aside{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside__left{
    width: 600px;
    display: flex;
    flex-direction: column;
    background-image: url('../../Assets/ground.png');
    background-position: left 40px center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aside__right{
    margin-right: 100px;
}

.aside__right--head{
    width: 460px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    color: #000000;
}

.aside__right--title{
    width: 403px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
}

.aside__left-img2{
    position: relative;
    left: 230px;
    bottom: 20px;
}

.wrapper{
    margin-top: 100px;
}

.wrapper__img{
    width: 100%;
    height: auto;
}

/* Footer */

.footer__section{
    margin-top: 100px;
    padding: 20px;
    border-top: 1px solid #000;
}

.footer{
    /* margin-top: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__imgs{
    display: flex;
}

.bxl-telegram, .bxl-facebook-circle,  .bxl-twitter, .bxl-linkedin-square{
    font-size: 25px;
    margin-right: 20px;
    /* color: #0031DE; */
}

.bxl-instagram-alt{
    font-size: 25px;
    margin-right: 20px;
    /* color: rgb(249, 82, 70); */
}




